* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #424242;
}

.wrapper {
  text-align: center;
}

textarea {
  display: block;
  background-color: #bdbdbd;
  margin-top: 1rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  font-size: 1.2rem;
  display: inline-block;
  border: 3px solid black;
  padding: 1rem;
}

textarea:focus {
  outline: none !important;
  border: 3px solid #1899d6;
}

.button-19 {
  appearance: button;
  background-color: #1899d6;
  border: solid #064461;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 1rem auto;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  width: 20%;
}

.button-19:after {
  background-clip: padding-box;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
  background-color: #37474f;
  border: solid #454546;
}